body {
    margin: 0;
    color: rgb(229, 229, 229);
}

html {
    /*background-color: rgb(0, 0, 0);*/
    background-color: rgba(3, 32, 200, 1);
}

/* TYPOGRAPHY */

.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-family: "DotGothic16";
    font-size: 1.1rem;
    font-weight: normal;
    text-align: center;
}

h2 {
    font-family: "DotGothic16";
    font-size: 1rem;
    line-height: 150%;
    font-weight: normal;
}

h3 {
       font-family: "DotGothic16";
        font-size: 1.8rem;
        line-height: 120%;
        font-weight: normal;
        padding:0 8px;
}     

p {
    font-family: "DotGothic16";
    font-size: 0.9rem;
    line-height: 150%;
}

a {
    color: rgb(229, 229, 229);
    text-decoration: none;
    line-height: 180%;

}

a:hover {
    text-decoration: underline;
    color: rgb(60, 60, 255);
}

a.active {
    text-decoration: underline;

}

li {
    font-family: "DotGothic16";
    font-size: 1rem;
}

/* NAVIGATION BAR */

header {
    position: fixed;
    top: 1%;
    width: 100%;
}

ul {
    margin: 0 1%;
    padding: 0;
    list-style: none;
    list-style-type: none;
  
    display: flex; 
    flex-direction: row;
    justify-content:space-between;
  }


/* COUNTDOWN SECTION */

.start {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.countdown h1 {
    text-align: center;
}



/* INFO SECTION */
.info-wrapper {
    margin: 0 1%;

}
.info {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height:fit-content;

    column-gap: 1%;
    row-gap: -1%;
    padding-bottom: 3%;
}

.event-home {
    grid-row: span 6;
    border-left: 0.1px dotted white;
    overflow-y: scroll;
    margin-left: 3em;
    height: 100vh;
}

.event-home a:hover {
    color: rgb(60, 60, 255);
}

/* 404 ERROR PAGE */

.error-warning {
    text-align: center;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-warning h1 {
    line-height: 30%;
}

/* INCIDENTS SECTION */

.incidents-wrapper {
    margin: 4em 1% 1%;
}

.incidents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 2fr;
    gap: -1px;
    grid-auto-flow: row dense;
}

.incidents div {
    border-style: dotted;
    border-width: 0.1px;
    border-color: white;
    overflow-y: scroll;
    overflow-x: scroll;
}

.event {
    height: 250px;
}

.incidents .event-1x2 {
    grid-row: span 2;   
    overflow-y: scroll;
    overflow-x: scroll;
}

.event p {
    padding-left: 5px;
}

.incident-date {
    padding-left: 5px;;
    font-family: "DotGothic16";
    font-size: 0.8rem;
    padding-left: 5px;
}

.tab {
    position: sticky;
    top: 0;
    margin: -1px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(3, 32, 200, 1);
}

.tab p {
    line-height: 0;
    padding-left: 5px;
}

.tab .incident-source {
    text-align: center;
    height: 0;
    width: 30px;
    padding-bottom: 30px;
    margin: -1px;
}

.event2 {
    border-style: dotted;
    border-width: 0.1px;
    border-color: white;
    overflow-x: scroll;
}

.tab2 div {
    border-style: dotted;
    border-width: 0.1px;
    border-color: white;
}

.tab2 {
    display: flex;
    justify-content: space-between;
}

img {
    width: 100%;
    height: auto;
}
